@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Android;
    src: url('fontes/idroid.otf') format('OpenType');
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #83e1ad;
    margin: auto;
    margin: 0px;        
    overflow-x: hidden;
            
}
        
h1 {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 45px;
    text-shadow: 2px 2px 0px #0000007e;
    margin-top: 0px;
    padding-top: 35px;
}

section {
    background-color: white;
    max-width: 1000px;
    margin: auto;
    text-align: justify;
    border-radius: 0px 0px 9px 9px;
    box-shadow: 3px 3px 2px 2px #00000013;
}

a:hover{
    text-decoration: underline rgb(252, 251, 251);
    background-color: #2b945a;
    border-radius: 5px;
    padding: 5px;
}
       
header {
    background-image: linear-gradient(to bottom,#30ac68, #2b945a, #1a5c37, #063C1D);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    text-align: center;
    text-shadow: 2px 2px 0px #0000007e;            
    text-decoration: none;
}

h2 {
    color: white;
    font-size: 18px;
    text-align: center;
    text-shadow: 2px 2px 0px #0000007e; 
    padding-bottom: 27px;
    font-weight: lighter;
    margin-top: -13px;    
}

.video {
    background-color: #063C1D;
    margin-bottom: 34px;
    padding-bottom: 21px;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;        
}
.bugdroid {
    display: block;
    margin: auto;
    height: 230px;    
    margin-bottom: 22px;
}

iframe {
    display: block;
    width: 750px;
    height: 420px;
    aspect-ratio: 800 / 528;
    max-width: 100%;
    margin: auto;    
}

article {
    margin-top: 5px;
}

h3 {
    border-top: 10px;
    color: #154f2e;
    font-family: Android;
    font-size: 25px;
    padding-top: 16px;
    font-weight: lighter;
    padding-left: 29px;
    margin-top: 14px;
}

h4 {
    background-image: linear-gradient(to left, #7ff7b518, #5edd973a, #2d9e606b, #33ce79b4);    
    color: #1A5C37;
    font-family: Android;
    font-size: 20px;
    padding-left: 8px;
    text-align: justify;
    margin-left: 20px;
    font-weight: normal;
    margin-top: 1px;
    margin-bottom: 23px;  
}

picture {
    margin-left: 35px;
    
}

.irina {
    margin-left: 95px;    
}
       
p {
    text-indent: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 12px;
    line-height: 22px;
    margin-top: -11px;
    font-size: 15px;
    margin-bottom: 12px;
}
.negrito {
    color: #1A5C37;
}

.link {    
    color: #1A5C37;
    text-decoration: none;
    font-weight: bold;
    background-color: #adfad0;
    padding-left: 4px;
}
        
nav > a {
    color: white;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
    font-size: 15px;
}

.icone-link {
    font-size: 0.85em;
    margin-left: 3px;
}

.icone-link::before {
    content: "\1F517";
}

.underline {
    display: inline-block;
    text-decoration: underline dotted;
    margin-bottom: 15px;
    text-underline-offset: 3px;
    margin-right: 115px;
    margin-left: -29px;
    margin-top: 15px;
}

.underline p {
    line-height: 1.3;
}

header > nav {
    text-align: left;
    padding-bottom: 9px;
    padding-left: 20px;
    margin-bottom: -14px;
    padding-top: 23px;           
}

.versao {
    background-color: #83e1ad;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 34px;
    padding-bottom: 8px;
    border-radius: 9px 9px 9px 9px;
    padding-top: 65px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.094);
}

.androidq {
    background-color: #83e1ad;
    text-decoration: none;
    color: #103b23;
    font-weight: bolder;
}

h5 {
    background-color: #1A5C37;
    font-family: "Bebas Neue", sans-serif;     
    font-weight: lighter;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 0px #0000007e;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: -75px;
    border-radius: 9px 9px 0px 0px;
    margin-bottom: 23px;
    
}

h5 > p {
    margin-top: -10px;
    margin-bottom: -18px;
    line-height: 6px;
}

aside > p {
    Padding-left: 40px;
    padding-bottom: 38px;
    margin-top: -26px;
    
}

footer {
    background-color: #063D1E;    
    color: white;
    text-align: center;
    margin-top: 32px;
    margin-bottom: -21px;
    
}

footer > p {    
    padding-bottom: 1px;
    padding-top: 0px;
    margin-top: -6px;
    font-size: 12px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

